// .form-style {
//   // border-style: solid;
//   border-color: $uporange;
//   border-width: 3px;
//   // background-image: -moz-linear-gradient(center bottom, $uporange 33%, $uppink 67% );
//   padding-left: 4px;
//   padding-top: 5px;
//   // border-image: linear-gradient(to left, #00C853, #B2FF59);
//   // border-image: -webkit-linear-gradient(left bottom, right top,$uporange, $uppink) !important;
//     // padding-left: 20px;
//     // padding-right: 20px;
//     // font-family: Bookman, URW;
//     // color: black;;
//     // background-color: -webkit-linear-gradient(left bottom, right top,$uporange, $uppink) !important;
//     // width: 50%;
//     // display: block;
//     // margin-left: auto;
//     // margin-right: auto;
//     border-radius: 15px;
//     font-family: $upfont;
//     font-size: 18px;

// }
.form-style{
  border-color: #2F2F3A;
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  background-color: #2F2F3A;
  height: 35px;
  padding: 0.375rem 0.75rem;
  border-radius: 4px;
  background-color: #2F2F3A;
}


.new_goal {
  font-family: $upfont;
  font-size: 16px;
  label {
    padding-left: 10px;
  }
  .flatpickr-input {
    padding-left: 6px;
    color: #FF7A64;
  }
}

.form-submit-text {
  color: #2F2F3A;
}

.card_btn_login {
  text-decoration: none;
  background-color: #FF7A64;
  color: white;
  padding: 8px;
  border-radius: 4px;
  transition: 0.5s;
  width: 40%;
  text-align: center;
  a:hover {
    color: white;
    text-decoration: none;
  }
}
.log-in-btn {
  background-color: white;
  border-color: white;
  height: 35px;
  color: $upnavy;
}
