// Specific CSS for your home-page

.container_home {
  max-width: 600px;
  margin: 0 auto;
  justify-content: center;
}

.homepage-logo {
  font-size: 80px;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 900;
  color: $upyellow;
  display: flex;
  justify-content: center;
  // padding-left: 12px;
  // padding-top: 5px;
}

.value-prop {
  font: Circular;
  font-size: 16px;
  font-weight: 400;
  color: $upnavy;
  display: flex;
  justify-content: center;
  // padding-left: 13px;
  // padding-top: 5px;
}

.homepage{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#FF7A64, #ff8bb5);
}

.highlight {
  background-color: $upyellow;
  border-radius: 5px;
  padding: 5px;
}

.speech-bubble rounded {
  height: 100vh;
  width: 100vw;
  padding-bottom: 50px;
  padding-right: 80px;
  text-align: right;
}

.Pig {
  height: 100vh;
  // width: 100vw;
  display: flex;
  justify-content: center;
  // position: relative;
  // text-align: right;
  // padding-top: 70px;
  // padding-right: 20px;
}

.speech-bubble {
   background: #cc39d8;
   color: #fff;
   display: inline-block;
   font-size: 14px;
   line-height: 4em;
   margin-bottom: 1em;
   padding: 0 1em;
   position: relative;
   text-align: center;
   vertical-align: top;
   min-width: 7em;
   margin: 30px 10px;
}

.speech-bubble:after {
  border: 1em solid transparent;
  border-top-color: #cc39d8;
  content: '';
  margin-left: -1em;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
  height: 0;
}
.nav-item {
  font-family: $upfont;
  font-size: 14px;
}

#dash-text {
  a {
    color: white;
  }
}

.navbar {
  height: 8px;
  background-color: $upnavy;
  color: #66666E;
}

.navbar-jay {
  padding-top: 2px;
  position: relative;
  left: -30px;
  // height: 10px !important;
  padding-bottom: 5px;
  color: #66666E;
  @media (min-width:320px) {
      position: relative;
    left: -15px;
    height: 30px !important;
  }
}

.logo {
  position: absolute;
  top: -5px;
  padding-top: 5px;
}

// .row {
//   height: 10em;
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   justify-content: center;
//   @media (min-width:320px) {
//     position: absolute;
//     left: 7px;
//     top: 10px;
//   }

// }
